.indexdiv01{
    position: absolute;
    height: 100%;
    width: 80%;
    left: 15%;
}
.img01{
    position: absolute;
    width: 67%;
    height: 100%;
}
.indexdiv02{
    position: absolute;
    left: 67%;
    height: 100%;
    width: 23%;
    background: #bfbfbf;
}
.indexa01{
    position: absolute;
    left: 60%;
    font-size: 18px;
    top: 5%;
    color: blue;
}
.indexp01{
    position: absolute;
    top: 15%;
    font-size: 36px;
    color: black;
    left: 20%;
}
.indexinput01{
    position: absolute;
    left: 10%;
    top: 30%;
    width: 80%;
    height: 5%;
}
.indexinput02{
    position: absolute;
    left: 10%;
    top: 40%;
    width: 80%;
    height: 5%;
}
.indexa02{
    position: absolute;
    top: 55%;
    left: 33%;
    font-size: 18px;
    color: blue;
}
.indexbutton01{
    position: absolute;
    top: 70%;
    left: 25%;
    width: 50%;
    height: 5%;
    color: black;
    background: bisque;
    font-size: 30px;
}
.indexa03{
    position: absolute;
    top: 80%;
    left: 27%;
    font-size: 18px;
}
.indexa04{
    position: absolute;
    top: 85%;
    left: 35%;
    font-size: 18px;
}
.indexa05{
    position: absolute;
    top: 90%;
    left: 35%;
    font-size: 18px;
}
.indexdiv03{
    position: absolute;
    top: 50%;
    left: 28%;
}
