<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zmh.demo.dao.yxDao">
      <select id="returnListRooms" resultType="com.zmh.demo.pojo.Rooms">
          select roomstyle, money, roomimg from bishe_rooms;
      </select>

     <select id="returnListFoods" resultType="com.zmh.demo.pojo.Foods">
         select foodstyle, foodmoney, foodimg from bishe_foods;
     </select>

    <update id="updateRoomMoney">
        update bishe_rooms set money=#{money} where roomstyle=#{room};
    </update>

    <update id="updateFoodMoney">
        update bishe_foods set foodmoney=#{money} where foodstyle=#{food};
    </update>
</mapper>