<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="../static/js/JqueryAjax/JQuery.js" type="text/javascript"></script>
    <link rel="stylesheet" href="static/css/guanyuwomen.css">
    <link rel="stylesheet" href="static/css/guanyuwomen02.css">
</head>
<body style="overflow:Scroll;overflow-x:hidden">
    <div class="guanyudiv02">
        <img class="guanyuimg01" src="../static/img/guanyuwomen/e.png">
        <img class="guanyuimg02" src="../static/img/guanyuwomen/c.jpg">
        <p class="guanyup01">我们不仅仅只是酒店</p>
        <p class="guanyup02">因为专注，所以专业</p>
        <a class="guanyua01" href="/index">返回首页</a>
    </div>
    <div class="guanyudiv03">
        <div class="contain">
            <input type="radio" name="sildeInput" value="0" id="Input1" hidden>
            <label class="label1" for="Input1">1</label>
            <input type="radio" name="sildeInput" value="1" id="Input2" hidden>
            <label class="label2" for="Input2">2</label>
            <input type="radio" name="sildeInput" value="1" id="Input3" hidden>
            <label class="label3" for="Input3">3</label>
            <ul>
                <li class="sildeInput-1">
                    <div>
                        <img src="../static/img/guanyuwomen/ff.jpg" class="guanyuimg03">
                        <div class="guanyudiv04">
                            <span class="guanyuspan01">团</span>
                            <span class="guanyuspan02">队</span>
                            <span class="guanyuspan03">理</span>
                            <span class="guanyuspan04">念</span>
                        </div>
                    </div>
                </li>
                <li class="sildeInput-2">
                    <div>
                        <img src="../static/img/guanyuwomen/gg.jpg" class="guanyuimg04">
                        <div class="guanyudiv05">
                            <span class="guanyuspan05">酒</span>
                            <span class="guanyuspan06">店</span>
                            <span class="guanyuspan07">配</span>
                            <span class="guanyuspan08">置</span>
                        </div>
                    </div>
                </li>
                <li class="sildeInput-3">
                    <div>
                        <img src="../static/img/guanyuwomen/hh.jpg" class="guanyuimg05">
                        <div class="guanyudiv06">
                            <span class="guanyuspan09">附</span>
                            <span class="guanyuspan10">近</span>
                            <span class="guanyuspan11">交</span>
                            <span class="guanyuspan12">通</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="guanyudiv004">

    </div>
    <div class="guanyudiv005">

    </div>
    <div class="guanyudiv006">

    </div>
    <div class="guanyudiv01">
        <img src="../static/img/guanyuwomen/d.jpg">
    </div>
    <div class="guanyudiv07">
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;团队实力--------------------公司成员来自铂涛、亚朵、千里马、西软等酒店集团或酒管系统研发公司。</span>
    </div>
    <div class="guanyudiv007">
        <img src="../static/img/guanyuwomen/j.jpg">
    </div>
    <div class="guanyudiv08">
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;产品实力--------------------公司目前拥有24套产品，经铂涛、亚朵等酒店集团验证，成熟可靠。</span>
    </div>
    <div class="guanyudiv008">
        <img src="../static/img/guanyuwomen/k.jpg">
    </div>
    <div class="guanyudiv09">
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;创始人-汪礼雾-----------------主导豪森集团旗下7天V3-V5系统研发；亚朵CTO，搭建亚朵集团技术团队，伴随豪森酒店开向全国；</span>
    </div>
<div class="guanyudiv009">
     <img src="../static/img/guanyuwomen/l.jpg" class="guanyuimg08">
</div>
<div class="guanyudiv10">
    <span class="guanyuspan16">更多资讯，扫描下方二维码</span>
    <img src="../static/img/index/b.jpg" class="guanyuimg06">
    <span class="guanyuspan13">电话：400-0811-138</span>
    <span class="guanyuspan14">E-Mail：vaplus@vbotplus.com</span>
    <span class="guanyuspan15">广东省广州市海珠区豪森酒店</span>
    <img src="../static/img/guanyuwomen/m.jpg" class="guanyuimg07">
</div>
</body>
</html>