<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="../static/js/JqueryAjax/JQuery.js" type="text/javascript"></script>
    <link th:href="@{/static/css/yingxiaoguanli.css}" rel="stylesheet">
    <script th:src="@{/static/js/TestJs/yingxiaoguanli.js}" type="text/javascript"></script>
</head>
<body>
     <div id="yxdiv01">
         <i style="position: absolute;top: 3%;left: 45%;font-size: 36px;font-weight:bold;color: #9fa8ef;">酒店价格修改</i>
         <a href="/guanlicenter_index" style="position: absolute;top: 3%;left: 95%;">点击退出</a>
         <span id="yxa01" th:text="${fjnum}" style="position: absolute;font-size: 0.1px"></span>
         <span id="yxa02" th:text="${wpnum}" style="position: absolute;font-size: 0.1px"></span>
         <div id="yxdiv02">
            <div id="yxdiv03">
                <div th:each="fjh:${fja}" class="yxdivs">
                     <img th:src="@{${fjh.getRoomimg()}}" class="fjimgs">
                     <p th:text="${fjh.getRoomstyle()}" class="fjps01"></p>
                    <p th:text="'原先价格:￥'+${fjh.getMoney()}+'元'" class="fjps02"></p>
                    <p class="fjps03">修改价格:</p>
                    <input type="text" class="yxinputs">
                    <button class="yxbs" onclick="tofangjian(this)">确定</button>
                </div>
            </div>
             <div id="yxdiv04">
                 <div th:each="wph:${wpa}" class="wpdivs">
                     <img th:src="@{${wph.getFoodimg()}}" class="wpimgs">
                     <p th:text="${wph.getFoodstyle()}" class="wpps01"></p>
                     <p th:text="'原先价格:￥'+${wph.getFoodmoney()}+'元'" class="wpps02"></p>
                     <p class="wpps03">修改价格:</p>
                     <input type="text" class="wpinputs">
                     <button class="wpbs" onclick="towuping(this)">确定</button>
                 </div>
             </div>
             <a href="#yxdiv03"><button id="cjd">修改房间价格</button></a>
             <a href="#yxdiv04"><button id="cwp">修改商品价格</button></a>
         </div>
     </div>
</body>
</html>